{
	"extends": "standard",
	"rules": {
		"no-undef": "warn",
		"no-unused-vars": "warn",
		"no-tabs": "off",
		"camelcase": "off",
		"no-cond-assign": "warn",
		"prefer-const": "warn",
		"multiline-ternary": "warn"
	}
}
