{
	"extends": "standard",
	"rules": {
		"no-undef": "off",
		"no-unused-vars": "off",
		"no-tabs": "off",
		"camelcase": "off",
		"no-cond-assign": "off",
		"prefer-const": "off",
		"multiline-ternary": "off",
		"no-multi-str": "off"
	}
}
