.saved-btn {
	position: relative;
	height: 120px;
	width: 100px;
	border-radius: 10px;
	background-color: #b9b9d2;
	cursor: pointer;
	user-select: none;

	.wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&:hover {
		background-color: darken(#b9b9d2, 2);
		border: 2px solid #c6c6d4;
		.icon { background-color: darken(#b9b9d2, 10); }
		.close { display: block }
	}

	.icon {
		position: relative;
		width: 25px;
		height: 25px;
		border-radius: 7px;
		background-color: darken(#b9b9d2, 8);

		svg {
			fill: white;
			width: 18px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.title, .subtitle {
		color: white;
		@include font-family(base);
	}

	.title {
		@include font-weight(medium);
		font-size: .9rem;
	}

	.subtitle {
		@include font-weight(light);
		font-size: .6rem;
	}

	.close {
		position: absolute;
		top: -3px;
		right: 5px;
		display: none;

		svg {
			width: 18px;
		}
	}
}

.saved-btn.purple {
	background-color: color(primary, 1);
	.icon { background-color: color(primary, 2); }
	&:hover {
		background-color: darken(color(primary, 1), 2);
		border: 2px solid color(primary, 3);
		.icon { background-color: darken(color(primary, 2), 2); }
		.close svg { fill: darken(color(primary, 2), 20); }
	}
}

.saved-btn.pink {
	background-color: color(secondary, 1);
	.icon { background-color: color(secondary, 2); }
	&:hover {
		background-color: darken(color(secondary, 1), 2);
		border: 2px solid color(secondary, 3);
		.icon { background-color: darken(color(secondary, 2), 2); }
		.close svg { fill: darken(color(secondary, 2), 20); }
	}
}

.saved-btn.blue {
	background-color: color(additional, 1);
	.icon { background-color: color(additional, 2); }
	&:hover {
		background-color: darken(color(additional, 1), 2);
		border: 2px solid color(additional, 3);
		.icon { background-color: darken(color(additional, 2), 2); }
		.close svg { fill: darken(color(additional, 2), 20); }
	}
}

.saved-btn.orange {
	background-color: color(additional-2, 1);
	.icon { background-color: color(additional-2, 2); }
	&:hover {
		background-color: darken(color(additional-2, 1), 2);
		border: 2px solid color(additional-2, 3);
		.icon { background-color: darken(color(additional-2, 2), 2); }
		.close svg { fill: darken(color(additional-2, 2), 20); }
	}
}

.saved-btn.yellow {
	background-color: color(additional-3, 1);
	.icon { background-color: color(additional-3, 2); }
	&:hover {
		background-color: darken(color(additional-3, 1), 2);
		border: 2px solid color(additional-3, 3);
		.icon { background-color: darken(color(additional-3, 2), 2); }
		.close svg { fill: darken(color(additional-3, 2), 20); }
	}
}

.saved-btn.green {
	background-color: color(additional-4, 1);
	.icon { background-color: color(additional-4, 2); }
	&:hover {
		background-color: darken(color(additional-4, 1), 2);
		border: 2px solid color(additional-4, 3);
		.icon { background-color: darken(color(additional-4, 2), 2); }
		.close svg { fill: darken(color(additional-4, 2), 20); }
	}
}

.saved-btn.muted {
	background-color: color(bg, 2);
	.icon {
		background-color: darken(color(bg, 2), 5);
		svg { fill: color(typography, 4) }
	}
	.title, .subtitle { color: color(typography, 4); }
	&:hover {
		background-color: darken(color(bg, 2), 2);
		border: 2px solid #f5f7fb;
		.icon { background-color: darken(color(bg, 2), 10); }
		.close svg { fill: darken(color(bg, 2), 30); }
	}
}
