body {
	background-color: color(bg, 2);

	&.no-vis {
		background-color: color(primary, 1);
	}
}

.container {
	max-width: none;
}

.info, .radar-charts, .map-pyramid {
	height: 60vh;
	@include margin-top(medium);
}

.info {
	background-color: color(typography, 1);
	@include border-radius(medium);
	@include margin-right(small);
	z-index: 10;
}

.radar-charts {
	background-color: color(bg, 1);
	@include border-radius(medium);
	@include margin-right(small);
	box-shadow: 0 4px 25px #DCD4E9;
	z-index: 5;
}

.map, .population-pyramid {
	height: 49%;
	background-color: color(bg, 1);
	@include border-radius(medium);
	box-shadow: 0 4px 25px #DCD4E9;
}

.parallel-coordinates {
	width: 100%;
	height: 28vh;
	@include margin-top(small);
	background-color: color(bg, 3);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: color(primary, 1);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: color(bg, 2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: color(primary, 1);

	&:hover {
		background-color: darken(color(primary, 1), 5);
	}
}

.saved-btns::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #c8c8d3;

	&:hover {
		background-color: darken(#c8c8d3, 5);
	}
}

.warning {
	display: none;
	width: 80vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media (min-width: breakpoint(min, sm)) {
		width: 60vw;
	}
	@media (min-width: breakpoint(min, md)) {
		width: 50vw;
	}
}
