// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, 1)
// --------------------------------------------
$color: (
	typography: (
		1: #393874,
		2: #5756B3,
		3: #656392,
		4: #8484A0,
		5: white,
	),
	bg: (
		1: white,
		2: #F6F7FB,
		3: #EEF1FA,
	),
	primary: (
		1: #8675ff,
		2: #7461FC,
		3: #9081ff
	),
	secondary: (
		1: #EE7DB1,
		2: #DA6FA0,
		3: #ed8bb7
	),
	additional: (
		1: #66C8FF,
		2: #32ADF1,
		3: #76caf9,
	),
	additional-2: (
		1: #FF9065,
		2: #F27749,
		3: #fc9d79,
	),
	additional-3: (
		1: #FFBA69,
		2: #E9A04C,
		3: #ffbe7a,
	),
	additional-4: (
		1: #42CC7E,
		2: #39B870,
		3: #50c986,
	),
);


// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
	base: '"Poppins", sans-serif', // font-family(base)
);

$font__weight: (
	light: 300,     // font__weight(light)
	regular: 400, 	// font__weight(regular)
	medium: 500,	// font__weight(medium)
	semibold: 600,	// font__weight(semi-bold)
	bold: 700		// font__weight(bold)
);


// --------------------------------------------
// Margins ------------------------------------
// --------------------------------------------
$margin: (
	small: .5rem,   // margin(small)
	medium: .6rem,   // margin(medium)
	large: 1rem,   // margin(large)
);


// --------------------------------------------
// Border-radius ------------------------------
// --------------------------------------------
$border-radius: (
	medium: 10px,   // border-radius(medium)
	large: 30px,    // border-radius(large)
);


// --------------------------------------------
// Breakpoints --------------------------------
// --------------------------------------------
$breakpoint: (
	min: (
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px,
	),
	max: (
		xs: 575.98px,
		sm: 767.98px,
		md: 991.98px,
		lg: 1199.98px
	)
);
