.info {
	overflow-y: auto;

	.content {
		display: none;

		.title {
			position: relative;
			color: white;
			letter-spacing: .5px;

			&::after {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 33px;
				height: 3px;
				background-color: color(primary, 1);
			}
		}

		.description {
			color: white;
			font-size: .8rem;
			margin-top: 2rem;
			line-height: 20px;
			text-align: justify;
		}

		.source {
			color: #726FC0;
			@include font-weight(medium);
			font-size: .7rem;
			cursor: pointer;
		}
	}

}
