.map {
	position: relative;
	background: #EEF1FA;

	svg {
		border-radius: 10px;
	}


	.country {
		stroke: lighten(color(typography, 4), 12);
		stroke-width: .3px;
	}

	.country:hover {
		fill: color(primary, 1);
		cursor: pointer;
	}

	.legend {
		position: absolute;
		bottom: 10px;
		left: 10px;

		.squareWrapper {
			position: relative;
		}

		span {
			position: absolute;
			top: -10px;
			font-size: 7.5px;
			@include font-weight(semibold);
			color: color(typography, 1);
		}

		.square {
			width: 20px;
			height: 10px;
		}

		.squareNeg24 .square {
			background: #BB4111;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		.squareNeg20 .square { background: #ED551A; }
		.squareNeg16 .square { background: #FF6D35; }
		.squareNeg12 .square { background: #FF8353; }
		.squareNeg8 .square { background: #FFA27D; }
		.squareNeg4 .square { background: #FEC2AA; }
		.squarePos4 .square { background: #C8D0FF; }
		.squarePos8 .square { background: #ADB8F3; }
		.squarePos12 .square { background: #7D8DE5; }
		.squarePos16 .square { background: #5C6BC0; }
		.squarePos20 .square { background: #424F98; }
		.squarePos24 .square {
			background: #2E3972;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		.top {
			position: absolute;
			bottom: 27px;

			span {
				position: absolute;
				top: -13px;
				width: 100px;
			}
		}

		.bottom, .top {
			box-shadow: 0 0 10px 0 white;
		}

		.squareNoData {
			background: white;
			border-radius: 3px;
			border: 1px solid #bab5d4;
		}

		.squareNeg24, .squareNeg20, .squareNeg16, .squareNeg12, .squareNeg8, .squareNeg4 {
			span {
				position: absolute;
				left: -10px;
			}
		}

		.squarePos24, .squarePos20, .squarePos16, .squarePos12, .squarePos8, .squarePos4 {
			span {
				position: absolute;
				right: -10px;
			}
		}

		.span0 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.zoom {
		width: 30px;
		border-radius: 5px;
		box-shadow: 0 1.91304px 7.569px #C7BADB;
		position: absolute;
		bottom: 10px;
		right: 10px;

		.plus, .minus {
			height: 30px;
			background: white;

			&:hover {
				background-color: darken(white, 5);
				cursor: pointer;
			}

			svg {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 20%);
				width: 1.3rem;
				fill: color(typography, 3);
			}
		}

		.plus {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		.minus {
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}
}
