.map {
	position: relative;
	background: #b3d5ff;

	svg {
		border-radius: 10px;
	}


	.country {
		stroke: lighten(color(typography, 4), 12);
		stroke-width: .3px;
	}

	.country:hover {
		fill: color(primary, 1);
		cursor: pointer;
	}

	.legend{
		position: absolute;
		bottom: 10px;
		left: 10px;
		height: 10px;
		width: 138px;
		border-radius: 5px;

		.textNeg24, .textNeg18, .textNeg12, .textNeg6, .textNeutral, .textPos6, .textPos12, .textPos18, .textPos24, .textNoData {
			width: 50px;
			height: 10px;
			font-size: 8px;
			color: color(typography, 1);
			position: absolute;
			line-height: 8px;
			font-weight: 700;
		}

		.textNeg24 {
			transform: translate(-8px, -12px);
		}

		.textNeg18 {
			transform: translate(15px, -12px);
		}

		.textNeg12 {
			transform: translate(38px, -12px)
		}

		.textNeg6 {
			transform: translate(63px, -12px)
		}

		.textNeutral {
			transform: translate(89px, -12px);
		}

		.textPos6 {
			transform: translate(107px, -12px);
		}

		.textPos12 {
			transform: translate(130px, -12px);
		}

		.textPos18 {
			transform: translate(153px, -12px);
		}

		.textPos24 {
			transform: translate(176px, -12px);
		}

		.textNoData {
			transform: translate(0, -42px);
		}

		.squareNeg24, .squareNeg18, .squareNeg12, .squareNeg6, .squarePos6, .squarePos12, .squarePos18, .squarePos24, .squareNoData {
			width: 23px;
			height: 10px;
			font-size: 8px;
			color: #8484A0;
			position: absolute;
			box-shadow: 0 1.91304px 7.569px #C7BADB;

		}

		.squareNeg24 {
			background: #b2182b;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		.squareNeg18 {
			background: rgb(214, 96, 77);
			transform: translate(23px, 0);
		}

		.squareNeg12 {
			background: #ef8a62;
			transform: translate(46px, 0);
		}

		.squareNeg6 {
			background: #fddbc7;
			transform: translate(69px, 0)
		}

		.squarePos6 {
			background: #d1e5f0;
			transform: translate(92px, 0);
		}

		.squarePos12 {
			background: #67a9cf;
			transform: translate(115px, 0);
		}

		.squarePos18 {
			background: rgb(67, 147, 195);
			transform: translate(138px, 0);
		}

		.squarePos24 {
			background: #2166ac;
			transform: translate(161px, 0);
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		.squareNoData {
			background: white;
			transform: translate(0, -30px);
			border-radius: 3px;
		}
	}

	.zoom {
		width: 30px;
		border-radius: 5px;
		box-shadow: 0 1.91304px 7.569px #C7BADB;
		position: absolute;
		bottom: 10px;
		right: 10px;

		.plus, .minus {
			height: 30px;
			background: white;

			&:hover {
				background-color: darken(white, 5);
				cursor: pointer;
			}

			svg {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 20%);
				width: 1.3rem;
			}
		}

		.plus {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		.minus {
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}
}
