.population-pyramid {
	position: relative;

	.age, .gender {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		user-select: none;
		color: color(typography, 1);
	}

	.gender {
		bottom: 0;
	}

	.gender-symbols {
		position: absolute;
		bottom: 10px;
		width: 100%;

		.male, .female {
			cursor: pointer;
			span { @include font-weight(medium); }
			&:hover {
				span { @include font-weight(semibold); }
			}
		}

		img {
			width: 18px;
		}

		.male {
			span { color: color(primary, 1); }
			&:hover {
				span { color: color(primary, 2); }
				img { content:url('../imgs/male-hover.svg'); }
			}
		}

		.female {
			span { color: color(secondary, 1); }
			&:hover {
				span { color: color(secondary, 2); }
				img { content:url('../imgs/female-hover.svg'); }
			}
		}
	}

	svg {
		max-width: 100%;
		position: absolute;
		top: 50%;
		left: 52%;
		transform: translate(-50%, -50%);

		.axis {
			line, path {
				fill: transparent;
				stroke: #dedef0;
			}
		}

		.bar {
			cursor: pointer;
		}

		.bar.left {
			fill: color(primary, 1);
			&:hover {
				fill: color(primary, 2);
			}
		}

		.bar.right {
			fill: color(secondary, 1);
			&:hover {
				fill: color(secondary, 2);
			}
		}

		.tick text {
			font-size: 7px;
			@include font-weight(bold);
			color: color(typography, 1);
		}

		.axis.x.left .tick text,
		.axis.x.right .tick text {
			color: color(typography, 4);
		}

		.axis.y.left .tick text {
			font-size: 8px;
			&:hover {
				cursor: pointer;
				color: color(primary, 1);
				font-size: 12px;
			}
		}
	}
}
