.radar-charts {
	position: relative;

	.radars {
		h5 {
			color: color(typography, 1);
		}

		.radar-big5 {
			width: 40%;
			@media only screen and (max-width: 1080px) { width: 35%; }
		}

		.radars-tipi {
			width: 60%;
			@media only screen and (max-width: 1080px) { width: 65%; }
		}

		svg {
			display: block;
			margin: auto;
		}
	}

	.saved-results {
		color: color(typography, 1);
		@include margin-top(large);
	}
}
